.container {
    padding-top: 20px;
}

.company {
    font-weight: normal;
    font-style: italic;
}

.title, .dates, .summary {
    padding: 2px;
    margin: 0px;
}

.accomplishment {
    line-height: 25px;
    padding-left: 20px;
}


