.container {
    border-top: 9px solid black;
    flex: 1;
}

.linkList {
    padding-left: 0;
    list-style: none;
}

.linkList li {
    padding-bottom: 10px;
}

.linkList li a {
    color: #242424;
}