body {
  background-color: #f8f3ed;
}

.container {
  background-color: rgba(255, 255, 255, 0.35);
  border: 0;
  color: #242424;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px;
  background-color: #fbe384;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 70px;
}


.lowerSection {
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
